---
import { SITE } from 'astrowind:config';

interface Link {
  text?: string;
  href?: string;
  ariaLabel?: string;
  icon?: string;
}

interface Links {
  title?: string;
  links: Array<Link>;
}

export interface Props {
  links?: Array<Links>;
  secondaryLinks?: Array<Link>;
  socialLinks?: Array<Link>;
  footNote?: string;
  theme?: string;
}

const { secondaryLinks = [], theme = 'light' } = Astro.props;
---

<footer class:list={[{ dark: theme === 'dark' }, 'relative border-t border-gray-200 dark:border-slate-800 not-prose']}>
  <div class="dark:bg-dark absolute inset-0 pointer-events-none" aria-hidden="true"></div>
  <div class="relative max-w-7xl mx-auto px-4 sm:px-6 dark:text-slate-400">
    <div class="flex flex-wrap justify-center items-center gap-x-1 py-4 text-sm text-slate-500 dark:text-slate-400">
      <span>© 2026 {SITE?.name}</span>
      {
        secondaryLinks.map(({ text, href }) => (
          <>
            <span aria-hidden="true" class="mx-1">
              ·
            </span>
            <a
              class="hover:text-gray-700 dark:hover:text-gray-300 hover:underline transition duration-150 ease-in-out"
              href={href}
              set:html={text}
            />
          </>
        ))
      }
      <span aria-hidden="true" class="mx-1">·</span>
      <span
        >Built with <a
          class="hover:underline transition duration-150 ease-in-out"
          href="https://astro.build/"
          target="_blank"
          rel="noopener noreferrer">Astro</a
        ></span
      >
    </div>
  </div>
</footer>
